@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    On a highway<br />
    EastOf, Omaha 90210-0555<br />
    <abbr title="Phone">P:</abbr>
    916.867.5309
</address>

<address>
    <strong>Connect with us: </strong><a href="https://github.com/normabunton">GitHub</a><br />
    
</address>